<div class="well sidebar-nav">
  <div role="presentation" class="container-fluid" id="fileupload">
    <div class="files"></div>
  </div>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">

  <ul class="nav nav-list text-left">
    <li class="nav-header">Attachment</li>
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <li>
    <div class="row-fluid">
      <div class="preview"><a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}">{%=file.name%}</a></div>
      </div>
    </li>
    {% } %}
  </ul>

</script>

<script type="text/javascript" charset="utf-8">
    $(function () {
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({});
        //
        // Load existing files:
        <%= %>
        $.getJSON("<%= attachment_url %>", function (files) {
            var fu = $('#fileupload').data('blueimpFileupload'),
                template;
            fu._adjustMaxNumberOfFiles(-files.length);
            console.log(files);
            template = fu._renderDownload(files)
                .appendTo($('#fileupload .files'));
            // Force reflow:
            fu._reflow = fu._transition && template.length &&
                template[0].offsetWidth;
            template.addClass('in');
            $('#loading').remove();
        });

    });
</script>