

- if @collections.empty?
  %li
    %h5 Empty

- unless @collections.empty?
  %table.table.table-hover
    %thead
      %tr
        %th Collection
        %th Abstract
    %tbody
      - @collections.each do |collection|
        %tr
          %td
            %a{:href => "#{collection_path(collection.name)}"} #{collection.name}
          %td #{MetadataHelper::load_metadata_from_collection(collection.name)[MetadataHelper::PFX_ABSTRACT]}
