= render partial: 'display_breadcrumb', locals: {nav_links: {'collections' => collections_path}}
= render 'display_collections'
= render 'shared/nectar_attribution'
= render 'shared/modal_waiting_panel'