<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <!--<%= csrf_meta_tags %>-->
  <!--<%= raw(render_head_content) %>-->

</head>

<div id="fileupload">
  <div role="presentation" class="container-fluid">
    <div class="files"></div>
  </div>
</div>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
<hr/>
<div class="well sidebar-nav">
  <ul class="nav nav-list text-left">
    <li class="nav-header">Attachment</li>
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <li>
    <div class="row-fluid">
      <div class="preview"><a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}">{%=file.name%}<img src="{%=file.thumbnail_url%}"></a></div>
      <!--<div class="name"><a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a></div>-->
      <!--<div class="size"><span>{%=o.formatFileSize(file.size)%}</span></div>-->
      </div>
    </li>
    {% } %}
  </ul>
</div>
</script>

<script type="text/javascript" charset="utf-8">
    $(function () {
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
        });
        //
        // Load existing files:
        $.getJSON($('#fileupload').prop('action'), function (files) {
            var fu = $('#fileupload').data('blueimpFileupload'),
                template;
            fu._adjustMaxNumberOfFiles(-files.length);
            console.log(files);
            template = fu._renderDownload(files)
                .appendTo($('#fileupload .files'));
            // Force reflow:
            fu._reflow = fu._transition && template.length &&
                template[0].offsetWidth;
            template.addClass('in');
            $('#loading').remove();
        });

    });
</script>
